<div class="row">
  <div class="col-md-12">
      <div class="card bg-light mb-12">
          <div class="card-body">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#leaderByWins">Leader By Wins</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#leaderByScore">Leader By Score</a>
                  </li>
              </ul>
              <div class="tab-content">
                  <div id="leaderByWins" class="container tab-pane active" *ngIf="leaderByWins.length > 0"><br>
                    <ul class="list-group" *ngFor="let leader of leaderByWins">
                      <li class="list-group-item d-flex">{{leader.user_name}} {{leader.school_name}} {{leader.grade_name}} - Wins: {{leader.challenges_won}}</li>
                    </ul>
                  </div>
                  <div id="leaderByScore" class="container tab-pane fade" *ngIf="leaderByScores.length > 0"><br>
                    <ul class="list-group" *ngFor="let leader of leaderByScores">
                      <li class="list-group-item d-flex">{{leader.user_name}} {{leader.school_name}} {{leader.grade_name}} - Score: {{leader.total_score}}</li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>