<div class="row">
  <div class="col-md-12">
      <div class="card bg-light mb-12">
          <div class="card-body">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#leaderByWins">Leader By Wins</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#leaderByScore">Leader By Score</a>
                  </li>
              </ul>
              <div class="tab-content">
                  <div id="leaderByWins" class="container tab-pane active"><br>
                    <ul class="list-group">
                      <li class="list-group-item d-flex">Sam - Wins 32</li>
                      <li class="list-group-item d-flex">Peter - Wins 30</li>
                      <li class="list-group-item d-flex">Henry - Wins 29</li>
                    </ul>
                  </div>
                  <div id="leaderByScore" class="container tab-pane fade"><br>
                    <ul class="list-group">
                      <li class="list-group-item d-flex">Sam - Score 846</li>
                      <li class="list-group-item d-flex">Peter - Wins 820</li>
                      <li class="list-group-item d-flex">Henry - Wins 812</li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>