#userDetails{
    text-align: center;
}

#user {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#userProfile {
    margin-top: 5px;
}

#topics {
    width: 90%;
}

#editIcon {
    font-size: 36px;
    vertical-align: middle;
    cursor: pointer;
}