<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-4">
            <div class="kf-card-top">
                <i class="fa fa-user bg-primary"></i>
                <div class="kf-card-data pull-right" *ngIf="userDetails">
                    <h4>{{userDetails.firstName}} {{userDetails.lastName}}</h4>
                    <h4>{{userDetails.age}} yrs</h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Topics of Interest</h4>
                <span class="badge badge-success margin-right" *ngFor="let topic of userStats?.topics">{{topic}}</span>
            </div>
        </div>
      </div>
    <div class="col">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-4">
                    <div class="kf-card-top">
                        <i class="fa fa-quora bg-info kf-small"></i>
                        <div class="kf-card-data pull-right">
                            <p class="mb-0">Quiz</p>
                            <h4>{{userStats?.participated}}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="progress mb-2">
                            <div class="progress-bar bg-success" 
                                role="progressbar" 
                                [ngStyle]="{'width.%': userStats?.successRate}" 
                                aria-valuenow="userStats?.successRate" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mb-0 text-center">Success Rate ({{userStats?.successRate}}%)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-4">
                    <div class="kf-card-top">
                        <i class="fa fa-arrow-up kf-small bg-success"></i>
                        <div class="kf-card-data pull-right">
                            <p class="mb-0">Win</p>
                            <h4>{{userStats?.win}}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="progress mb-2">
                            <div class="progress-bar bg-success" 
                                role="progressbar" 
                                [ngStyle]="{'width.%': userStats?.successRate}"  
                                aria-valuenow="userStats?.successRate" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mb-0 text-center">Success Rate ({{userStats?.successRate}}%)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-4">
                    <div class="kf-card-top">
                        <i class="fa fa-arrow-down bg-danger kf-small"></i>
                        <div class="kf-card-data pull-right">
                            <p class="mb-0">Lose</p>
                            <h4>{{userStats?.loss}}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="progress mb-2">
                            <div class="progress-bar bg-success" 
                                role="progressbar" 
                                [ngStyle]="{'width.%': userStats?.successRate}" 
                                aria-valuenow="userStats?.successRate" 
                                aria-valuemin="0" 
                                aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mb-0 text-center">Success Rate ({{userStats?.successRate}}%)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="card bg-light mb-12">
              <div class="card-body">
                  <ul class="nav nav-tabs">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="pill" href="#topRankers">Top Rankers</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="pill" href="#activeUsers">Active Users</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div id="topRankers" class="container tab-pane active"><br>
                          <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let topRanker of topRankers">
                                  <span class="badge rounded-circle kf-availability badge-pill" [ngClass]="topRanker.active ? 'badge-success' : 'badge-light'">&nbsp;</span>
                                  <span class="ml-2">{{topRanker.user_name}}</span>
                                  <span class="ml-2">{{topRanker.school_name}}</span>
                                  <span class="ml-2">{{topRanker.grade_name}}</span>
                                  <a [routerLink]="" (click)="goToChallenge(topRanker)" class="ml-auto kf-challenge btn btn-sm btn-primary">
                                      <i class="fa fa-bolt"></i>
                                      Challenge
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div id="activeUsers" class="container tab-pane fade"><br>
                          <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let activeUser of activeUsers">
                                  <span class="badge rounded-circle kf-availability badge-success badge-pill">&nbsp;</span>
                                  <span class="ml-2">{{activeUser.user_name}}</span>
                                  <span class="ml-2">{{activeUser.school_name}}</span>
                                  <span class="ml-2">{{activeUser.grade_name}}</span>
                                  <a [routerLink]="" (click)="goToChallenge(activeUser)" class="ml-auto kf-challenge btn btn-sm btn-primary">
                                      <i class="fa fa-bolt"></i>
                                      Challenge
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade show" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">                           
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select Topics of Interest</h4>
                <button type="button" class="close" (click)="skipTopics()">&times;</button>
            </div>                               
            <!-- Modal body -->
            <div class="modal-body">
                <div *ngFor="let topic of allTopics" class="custom-control custom-checkbox">
                    <input type="checkbox"
                        class="custom-control-input"
                        name="topics"
                        value="{{topic.name}}"
                        [(ngModel)]="topic.checked"
                        (ngModelChange)="selectedTopics()"
                        id="{{topic.name}}"/>
                    <label class="custom-control-label" for="{{topic.name}}">{{topic.name}}</label>                                              
                </div>
            </div>                             
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="custom-control custom-checkbox align-left">
                    <input type="checkbox" class="custom-control-input" id="doNotShowAgain" [(ngModel)]="doNotShowAgain">
                    <label class="custom-control-label" for="doNotShowAgain">Do not show this again</label>
                </div>
                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="!doNotShowAgain && interestedTopics?.length === 0" (click)="closeModal()">Done</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="doNotShowAgain || interestedTopics?.length > 0" (click)="skipTopics()">Skip</button>
            </div>                           
        </div>
    </div>
</div>